@font-face {
  font-family: "Apercu Mono";
  src: url("/fonts/ApercuMonoPro.woff2") format("woff2");
}

@font-face {
  font-family: "Lay Grotesk - Trail";
  src: url("/fonts/LayGrotesk-Trial.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lay Grotesk - Trial", sans-serif;
}

h1 {
  font-size: 3.5rem;
  font-weight: 500;
  letter-spacing: -0.05rem;
  line-height: 1;
}

p {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.25;
  margin-bottom: 1em;
}

span {
  color: #000;
  display: block;
  text-transform: uppercase;
  font-family: "Apercu Mono";
  font-size: 0.75rem;
  font-weight: 500;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 1.5em 2em;
}

nav .col:nth-child(1) {
  display: flex;
}
nav .col:nth-child(2) {
  text-align: right;
}

nav span {
  color: #000;
  /* mix-blend-mode: difference; */
}

section {
  position: relative;
  width: 100vw;
  height: 100svh;
  padding: 2em;
}
.col,
.sub-col {
  flex: 1;
}
.hero,
.about-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.hero .header {
  width: 50%;
  text-align: center;
}

.hero .header h1 {
  color: #909090;
}

.about-img {
  height: max-content;
  padding: 8em 2em;
}

.about-img img {
  width: 20%;
  aspect-ratio: 4/5;
}

.about,
.philosophy {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about h1,
.philosophy h1 {
  display: inline-block;
  text-align: right;
  flex-direction: column;
  justify-content: flex-end;
  /* height: 100svh; */
  /* text-indent: 25%; */
}

/* .about h1,
.philosophy h1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding-bottom: 2em;
  text-indent: 25%;
} */

.philosophy {
  background-color: #202020;
}
.philosophy h1,
.philosophy span {
  color: #fff;
}

.story {
  height: max-content;
  display: flex;
  gap: 1em;
  margin-bottom: 8em;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1em;
  padding: 6em 1em 1.5em 2em;
}

footer .col {
  display: flex;
  justify-content: flex-end;
}

footer .sub-col {
  display: flex;
  align-items: flex-end;
}

.line {
  transform: translateY(100%);
  will-change: transform;
}

@media (max-width: 900px) {
  h1 {
    font-size: 2rem;
  }

  nav .col:nth-child(1) .sub-col:nth-child(2) {
    display: none;
  }

  .hero .header {
    width: 95%;
  }

  .about-img img {
    width: 100%;
  }

  .story {
    flex-direction: column;
  }

  footer .col:nth-child(1) {
    flex-direction: column-reverse;
    gap: 4em;
  }

  footer .col:nth-child(2) {
    display: none;
  }
}
